*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

.navbar-nav li a.link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    color: #383838;
    text-decoration: none;
    padding: 0 20px;
}

.form-group {
    position: relative;
}

.form-group .form-control {
    background: #F8F7F5;
    border-radius: 6px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #989898;
    border: none;
    padding-left: 50px;
}.form-group .form-control:focus {
    box-shadow: none;
}
.form-group .form-control::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #989898;
}

.form-group button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #F06C4E;
    border-radius: 0px 6px 6px 0px;
    padding: 0 30px;
    border: none;
    color: #fff;
}
.form-group img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.search-result {
    padding-top: 50px;
}

.result-items {
    background: #F8F7F5;
    border-radius: 10px;
}

.result-items img {
    border-radius: 10px 10px 0px 0px;
}
.result-items h5 {
    padding-top: 20px;
    padding-bottom: 30px;
}

#meals_details .product {
    border-radius: 10px;
    height: 322px;
    object-fit: cover;
    margin-bottom: 40px;
}
#meals_details h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #252525;
    padding-bottom: 10px;
}
#meals_details h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    color: #252525;
    margin-bottom: 30px;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
}
ul li img {
    margin-right: 10px;
}